<?xml version="1.0"?>
<launch>
	<group ns="webcam">
		<node pkg="cv_webcam" type="webcam_driver" name="webcam_driver" output="screen">
			<remap from="webcam_frame" to="image_raw" />
		</node>

		<node pkg="cv_webcam" type="webcam_viewer" name="ros_image_viewer">
			<remap from="webcam_frame" to="image_raw"/>
		</node>
	</group>
</launch>